/**
 * 增加元素或元件的附加屬性，例: 背景大小、間距、位置型態之類的，CSS class 多為單一屬性內容
 */

@each $size, $value in $spacing-map {
  .mr-#{$size} {
    margin-right: $value !important;
  }
  .mb-#{$size} {
    margin-bottom: $value !important;
  }
}

.ml-auto {
  margin-left: auto !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

@each $size, $value in $font-size-map {
  .text-#{$size} {
    font-size: $value !important;
    line-height: map-get($line-height-map, $size) !important;
  }
}

.text--bold {
  font-weight: bold !important;
}
.text--italic {
  font-style: italic !important;
}
.text--light {
  color: $color-text-light !important;
}

.d-f {
  display: flex !important;
  flex-wrap: wrap;
}
.d-f-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.d-f-center-height {
  display: flex !important;
  align-items: center;
  height: 100%;
}
.d-f-center-width {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
